body {
  margin: 0;
  padding: 0;

  font-family: "Monserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  background-color: #dedede;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 960px;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
}

.about {
  background-color: white;
  margin: 50px auto;
  border-radius: 50px;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 35px;
}

.about__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contacts {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0;
}


.about a {
  text-decoration: none;
  color: #4090f6;
}

.contacts li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.contacts span {
  margin-left: 10px;
}

.skills {
  list-style: circle;
  padding-left: 0;
}

.projects {
  margin: 30px auto;
}

.projects-list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-item {
  background-color: white;
  max-width: 340px;
  border: 1px solid silver;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-item a {
  opacity: 0.5;
}

.project-item a:hover {
  opacity: 1;
}

.project-item img {
  border-radius: 20%;
}

.project-item p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

@media (min-width: 768px) {
  .about {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  .about div {
    width: 45%;
    font-size: 16px;
    line-height: 22px;
  }

  .about__title {
    font-size: 24px;
    line-height: 28px;
  }

  .projects-list {
    padding: 60px 0;
  }

  .project-item {
    max-width: 420px;
    width: 45%;
    padding: 40px;
    margin-bottom: 30px;
  }

  .project-item p {
    font-size: 14px;
    line-height: 24px;
  }

}
